:root{
    --color-title: #212121;
    --color-btn-link:#2196F3;
    --color-accent: #FFFFFF;
    --color-header-logo: #000000;
    --color-footer-logo: #ffffff;
    --color-tea«: #F5F4FA;
    --color-footer:#2F303A;
    --color-text: #757575; 
    --color-border:#ECECEC
}
body{font-family: 'Roboto', sans-serif;
font-size:  14px;
letter-spacing: 0.03em;
color:var(--color-title);
background-color: var(--color-accent);
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;}
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
list-style: none;
padding-left: 0;
margin: 0; }
/*класс для обнуления базовых свойств у ссылок */
.link {
text-decoration: none;
color: inherit; }
/* свойства для корректного отображения картинок */
img {
display: block;
max-width: 100%;
height: auto; }
/* свойства для обнуления курсива у address */
address {
font-style: normal;
}
.current{
color:var(--color-btn-link)
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
/* header styles */

.header{
border-bottom: 1px solid var(--color-border);
}
.container{
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

.list{list-style:none;
padding-left: 0px;
margin: 0;}

.logo-container{
padding-top: 24px;
padding-bottom: 25px;
}

.header-list{
display: flex;
}

.page-header,.header-section{
    display: flex;
    align-items: center;
}
.header-logo{
    margin-right: 93px;
font-family:Raleway, sans-serif;
font-style: normal;
font-weight:700;
font-size: 26px;
line-height:1.3;
letter-spacing: 0.03em;
color:var(--color-header-logo);}

.web{
    color: var(--color-btn-link);
}

.header-item:not(:last-child){
    margin-right: 32px;
}

.navigation{
font-weight: 500;
font-size: 14px;
line-height: 1.33;
letter-spacing: 0.02em;
color:var(--color-title);}
.navigation:hover,
.navigation.focus{
color:var(--color-btn-link);
padding-bottom: 32px;
padding-top: 32px;
}
.current{
    color:var(--color-btn-link);
    }
.header-item:hover,
.header-item:focus{
color:var(--color-btn-link);
}


.header-contact{
display: flex;
margin-left: auto;
}

.contact-item + .contact-item{
    margin-left: 50px;
    
}

.email,
.phone{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color:var(--color-text);
margin-top: 32px;
margin-bottom:32px;
display: flex;
align-items: center;}
    
.email{
    display: flex;
    align-items: center;
}
    .email:hover,
    .email:focus,
    .phone:hover,
    .phone:focus{
     color:var(--color-btn-link);}

     .envelope-icon{
         Height: 12px;
        Width: 16px;
        margin-right: 10px;
    align-items: center;
    color: var(--accent-color);
  fill: currentColor;}

  .phone-icon{
    Height: 16px;
   Width: 16px;
   margin-right: 10px;
align-items: center;
color: var(--accent-color);
fill: currentColor;;}
    .envelope-icon:hover,
    envelope-icone:focus,
    .icon-phone:hover,
    .icon-phone:focus{
    color:var(--color-btn-link);
    }
    

/*bg styles */
.hero{
padding-top: 200px;
padding-bottom: 200px;
background: var(--color-footer);
text-align: center;}
.inside-text{
    margin: auto;
    width: 696px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: var(--color-accent);    
}

.overlay{
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Img.jpg);
    border: 1px solid var(--color-border);
    background-size:cover;
    background-position: center;
    

}
.button{
background-color:var(--color-btn-link);
margin-top: 30px;
display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-accent);
  cursor: pointer;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
 padding: 10px 32px;}
  
.button:hover,
.button:focus{
background-color:rgb(24,140,232);}


/* advantages styles */   

.advantages-block{
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color:var(--color-tea«);
border-radius: 4px;
margin-bottom: 30px;
}

.advantages-icons{
        content: "";
        height: 70px;
        width: 70px;}

       

.advantages{
    padding-top:  94px;
    padding-bottom: 94px;
}

.advantages-list{
display: flex;}

.advantages-item:not(:last-child){
    margin-right: 30px;
}

.advantage-title{
font-weight: 700;
font-size: 14px;
line-height:1.14;
letter-spacing: 0.03em;
text-transform: uppercase;}

.advantage-text{
max-width: 270px;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--color-text);
margin-top: 10px;
}

/* work section styles */
.our_work_header{
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color:var(--color-header-logo);    
}
.work{
    padding-bottom: 94px;
}
.photo-work{
    display: flex;
}
.photo-work .photo-work-item:not(:last-child){
    margin-right: 30px;
}
/* our team styles */
.ourteam{
    padding-bottom: 94px;
    padding-top: 94px;
    background: var(--color-tea«);
}
.team-list{
    display: flex;}
.team-item{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color:var(--color-accent);

}
.team-card{
    padding: 30px 0px;
}
.team-list .team-item:not(:last-child){
    margin-right: 30px;
}
.our_team_header{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-header-logo);
    margin-bottom:50px;
}
.employees{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-title);
margin-bottom: 10px;
}
.position_title{
font-weight: 400;
font-size: 16px;
line-height:1.18;
text-align: center;
letter-spacing: 0.03em;
color:var(--color-text);
}

.team-social-icons{
width: 44px;
height: 44px;
margin-left:10px;
}
.team-social-icons:first-child{
    margin-left: 0;
}
.social-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:var(--color-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    margin-top: 16px;
}

.employees-soc-icons{
    fill: currentColor;
}
.social-link:hover,
.social-link:focus{
background-color: var(--color-btn-link);
color: #EEEEEE;
}

.social-link:hover .team-social-icons:hover
.social-link:focus .team-social-icons:focus{
fill:#EEEEEE;
}

.team-social{
display: flex;
justify-content: center;
margin-bottom: 30px;
}

/* clients styles */

.clients-header {
	margin-bottom: 50px;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--color-header-logo);}

    .clients-section{
        padding: 94px 0;
}

.clients{
    margin: 0;
    display: flex;
    padding:0;

}

.clients-item {
	width: 170px;
	height: 92px;

}

.clients-item:not(:first-child) {
	margin-left: 30px;
}

.clients-item-link {
	border: 1px solid #afb1b8;
	border-radius: 4px;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
    color: #AFB1B8;
}

.clients-item-link:hover,
.client-item-link:focus{
    color:#2196F3;
    border: 1px solid #2196F3;
}

.client-item-icon {
	fill: currentColor;}

    /*Footer styles */
.footer{
background:var(--color-footer);
padding-bottom: 60px;
padding-top: 60px;}

.footer .container{
    display: flex;
    align-items: baseline;
}

.logo_footer{
    color:var(--color-footer-logo);
    font-family:Raleway, sans-serif;
    font-style: normal;
    font-weight:700;
    font-size: 26px;
    line-height:1.19;
    letter-spacing: 0.03em;}

    .join-header {
        font-size: 14px;
        line-height: 1.14x;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color-accent);
        margin-bottom: 20px;
        font-weight: bold;
    }
    
    .join-list {
        display: flex;
       
    }

    .footer-soc{
        margin-left:70px;
    }
    .join-item {
        width: 44px;
        height: 44px;
    }
    
    .join-item:not(:first-child) {
        margin-left: 10px;
    }
    
    .join-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
    }
    
    .join-link:hover,
    .join-link:focus {
    background-color: var(--color-btn-link);
    }
    
    .join-icon {
        fill: var(--color-accent);}

.web_footer{
color: var(--color-btn-link);}
    
.location{
    font-weight: 400;
    font-size: 14px;
    line-height:1.71;
    letter-spacing: 0.03em;
    color: var(--color-footer-logo);
}
.location:hover{
color: var(--color-btn-link);
}
.footer-email, .footer-phone{
    font-weight: 400;
    font-size: 14px;
    line-height:1.71; 
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);  
}
.footer-email:hover,
.footer-email:focus{
 color: var(--color-btn-link);   
}
.footer-phone:hover,
.footer-phone:focus{
    color:var(--color-btn-link);}
.address{
    margin-top:  20px;
    font-style: normal;
}
.footer-contacts .footer-contacts-item:not(:last-child){
  margin-bottom: 9px;  

}
/*Portfolio page styles */

    .buttons-list{
display: flex;
justify-content: center;
margin-bottom: 50px;
}
.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-buttons{
    padding-top: 94px;
    padding-bottom: 94px;
}

.buttons-item:not(:last-child){
    margin-right: 8px;
    }
.portfolio-btn{
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    cursor: pointer;
    background-color:var(--color-tea«);
padding-right: 22px;
padding-left: 22px;
border: none;
padding-top: 6px;
padding-bottom: 6px;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}
.portfolio-btn:hover,
.portfolio-btn:focus{
    background-color:rgb(24,140,232);
color: var(--color-footer-logo);}

/* portfolio net */
.porfolio{
    display:flex;
    flex-wrap: wrap;
}
.portfolio-item{
margin-right:30px;
margin-bottom: 30px;}

.portfolio-item:hover,
.portfolio-item:focus{
box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;  
}

.portfolio-item:nth-child(3n){
    margin-right: 0;
}
.portfolio-item:nth-last-child(-n+3){
    margin-bottom:0;
}
.portfolio-items-title{
    font-weight: 700;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
letter-spacing: 0.06em;
    color:var(--color-header-logo); 
}

.portfolio-description{
    border: 1px #EEEEEE solid;
    border-top: none;
    padding: 24px 20px;
}
.portfolio-item-text{
    font-weight: 400;
font-size: 16px;
line-height: 1.8;

letter-spacing: 0.03em;

color:var(--color-text);
}